
:root {
  --primary-color: #0A3641;
  --secondary-color: #FF8041;
  --font-family-header: 'Inter', sans-serif;
  --font-family-body: 'Special Gothic', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-body);
  font-size: 16px;
} 

nav, footer {
  background-color: #0A3641;
}

nav {
  color: var(--secondary-color);
  font-family: var(--font-family-header);
  font-size: 13px; 
  letter-spacing: -5%;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding-top: 0px;
}

.nav-middleleft, .nav-middleright, .nav-right {
  display: flex;
  align-self: flex-end;
}

.nav-middleleft {
  flex-direction: row;
  gap: 20px;
}
.nav-middleright {
 position: relative;
 left: 60px;
}
.nav-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: flex-end;
}
.shop {
  padding-bottom: 15px;
  padding-right: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;

}
.nav-link {
  color: #fff;
  font-family: var(--font-family-header);
  text-decoration: none;
  font-style: italic;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0em;  
}

search {
  position: relative;
  padding-right: 40px;
  padding-bottom: 15px;
}
search img {
  position: absolute;
  left: 5px;
  top: 9px;
  width: 20px;
  height: 20px;
}
search input {
  padding-left: 50px;
  font-size: 20px;
  width: 200px;
  height: 30px;
  border-radius: 7px;
}
footer {
  color: #FFF;
  font-family: var(--font-family-body);
  font-size: 16px; 
  letter-spacing: 0%;
  display: flex;
  gap: 20px;
  padding: 20px;
  margin-top: 20px;
}

footer a {
  color: #FFF;
  text-decoration: underline;
}

.logo img{
  max-height: 100px;
  padding: 10px;
}
.icon-figma {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.cta {
  background-color: #0A3641;
}

h1 {
  color: var(--secondary-color);
  font-family: var(--font-family-header);
  font-size: 96px; 
  letter-spacing: -5%;
}

h2 {
  color: var(--primary-color);
  font-family: var(--font-family-header);
  font-size: 48px; 
  font-weight: 600;
  letter-spacing: -5%;
}
.cta-hero {
  color: var(--secondary-color);
  font-family: var(--font-family-header);
  font-style: italic;
  font-weight: 600;
  font-size: 16px; 
  letter-spacing: -5%;
  padding: 10px 20px;
  text-decoration: none;
  border: 5px solid var(--secondary-color);
}
header {
  background-image: url("images/hero-image.jpg");
  background-size: cover;
  background-position: center;
  min-height: 500px;
}